* {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1140px;
  /* width: 100%; */
  margin: 0 auto;
}

.header {
  padding: 20px 0;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav__logo {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 25px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #69B9FF;
}
.header__nav__menu {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header__nav__menu a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #676770;
}
.header__nav__menu a:hover {
  color: #0082F3;
}
.header__nav__burger__menu {
  display: none;
  height: 2px;
  width: 25px;
  background: black;
  position: relative;
  right: 15px;
}
.header__nav__burger__menu::after {
  content: "";
  height: 2px;
  width: 25px;
  background: black;
  position: absolute;
  top: 10px;
}
.header__nav__burger__menu::before {
  content: "";
  height: 2px;
  width: 25px;
  background: black;
  position: absolute;
  top: -10px;
}

.banner {
  background-image: url(../images/IMAGE\ \(3\).png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 594px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.banner__content {
  display: flex;
  flex-direction: column;
  row-gap: 107px;
}
.banner__content h1 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 59px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.banner__content__btns {
  text-align: center;
  justify-content: center;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.banner__content__btns button {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: url(.jpg);
  border-radius: 0px;
  border: 1px solid white;
  outline: 0;
  padding: 10px 31px;
}
.banner__content__btns button:hover {
  background: #69B9FF;
  border-radius: 4px;
}

.we__do {
  padding: 80px 0;
}
.we__do h1 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #676770;
  margin-bottom: 17px;
}
.we__do p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #8E8E9C;
}
.we__do__cards {
  padding-top: 62px;
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 20px;
  flex-wrap: wrap;
}
.we__do__cards__card {
  width: 300px;
  height: 300px;
}
.we__do__cards__card h3 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 7px;
  text-transform: uppercase;
  color: #676770;
  margin-bottom: 14px;
}
.we__do__cards__card p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 25px;
  text-align: center;
  color: #6A859C;
}

.services {
  padding: 80px 0;
  background: #192024;
}
.services h1 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.services p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #E8E8E8;
}
.services__cards {
  padding-top: 77px;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}
.services__cards__card {
  width: 350px;
}
.services__cards__card img {
  width: 100%;
  height: 287px;
}
.services__cards__card h3 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 7px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 20px 0;
}
.services__cards__card p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 25px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 17px;
}
.services__cards__card button {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: url(.jpg);
  border-radius: 0px;
  border: 1px solid white;
  outline: 0;
  padding: 10px 31px;
}
.services__cards__card button:hover {
  background: #69B9FF;
  border-radius: 4px;
}

.tab {
  padding: 77px 0 90px;
}
.tab h1 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 31px;
  line-height: 36px;
  text-align: center;
  color: #676770;
  margin-bottom: 14px;
}
.tab p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 25px;
  text-align: center;
  color: #6A859C;
}
.tab img {
  width: 100%;
  height: 627px;
  object-fit: cover;
  margin-bottom: 16px;
}
.tab__btns {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  padding: 73px 0 53px;
}
.tab__btns button {
  background: #92A0AD;
  border-radius: 4px;
  padding: 0 30px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
}
.tab__btns button:hover {
  background: #2E80B6;
}

.footer__p {
  text-align: center;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: #9E9E9E;
  background: #383838;
  padding: 40px 0;
}
.footer__nav {
  display: flex;
  gap: 21px;
  padding-bottom: 77px;
  flex-wrap: wrap;
}
.footer__nav div,
.footer__nav ul {
  width: 30%;
}
.footer__nav div h3,
.footer__nav ul h3 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #676770;
  margin-bottom: 25px;
}
.footer__nav div p,
.footer__nav ul p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: #6A859C;
}
.footer__nav div li,
.footer__nav ul li {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #668CAD;
  border-bottom: 1px solid #D5D5E0;
  padding: 11px;
}
.footer__nav div li i,
.footer__nav ul li i {
  font-size: 18px;
  margin-right: 10px;
  color: black;
}

@media screen and (max-width: 1140px) {
  .container {
    width: 992px;
  }
}
@media screen and (max-width: 992px) {
  .container {
    width: 768px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    width: 576px;
  }
}
@media screen and (max-width: 576px) {
  .container {
    width: 100%;
    padding: 0px 1rem;
  }
  .header__nav__menu {
    display: none;
    background: white;
    position: absolute;
    right: 0px;
    top: 50px;
    padding: 20px;
  }
  .header__nav__burger__menu {
    display: block;
  }
  .header__nav__burger__menu.active::after {
    top: 0;
    transform: rotate(45deg);
  }
  .header__nav__burger__menu.active::before {
    top: 0;
    transform: rotate(-45deg);
  }
  .header__nav__burger__menu.active {
    background: white;
  }
}

/*# sourceMappingURL=style.css.map */
